.about__self {
  font-weight: 300;
  margin-left: 0px;
  position: relative;
  margin-bottom: 40px;
}

.about__link {
  color: white;
  text-decoration: none;
}

.about__link :hover {
  color: #01d293;
}

.about__icon i {
  color: #01d293;
}

.about__img {
  padding: 10px;
  background: #171f38;
  margin-bottom: 20px;
  border-radius: 5px;
}

.about__img img {
  width: 100%;
  border-radius: 5px;
}

.about__img__box {
  width: 200px;
}

@media only screen and (max-width: 992px) {
  .about__img__gallery {
    justify-content: center;
    margin-top: 50px;
  }

  .about__content h3 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 768px) {
  .about__img__box {
    width: 150px;
  }
}
